@font-face {
  font-family: Abel;
  src: url("/fonts/Abel/Abel-Regular.ttf");
}
@font-face {
  font-family: Anton;
  src: url("/fonts/Anton/Anton-Regular.ttf");
}
@font-face {
  font-family: Josefin;
  src: url("/fonts/Josefin_Sans/JosefinSans-Regular.ttf");
}
@font-face {
  font-family: Lexend;
  src: url("/fonts/Lexend_Deca/LexendDeca-Regular.ttf");
}
@font-face {
  font-family: Livvic;
  src: url("/fonts/Livvic/Livvic-Regular.ttf");
}
.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.nav {
  background: white;
  padding: 0 2rem;
  height: 0;
  min-height: 10vh;
  overflow: hidden;
  transition: height 1s ease-in-out;
}
.nav.collapse {
  height: 30rem;
}
.nav a {
  color: #104f55;
}
.nav .nav-brand a {
  display: block;
  font-size: 1.6rem;
  padding: 1rem 0;
  font-family: "Abel", cursive;
}
.nav .toggle-collapse {
  position: absolute;
  top: 0;
  width: 90%;
  cursor: pointer;
  display: none;
}
.nav .toggle-collapse .toggle-icons {
  display: flex;
  justify-content: flex-end;
  padding: 1.7rem 0;
}
.nav .toggle-collapse .toggle-icons i {
  font-size: 1.4rem;
  color: #3f4954;
}
.nav .nav-menu {
  justify-content: space-between;
}
.nav .nav-items {
  display: flex;
  margin: 0;
}
.nav .nav-items .nav-link {
  font-family: "Abel", cursive;
  padding: 1.6rem 1rem;
  font-size: 1.1rem;
  position: relative;
}
.nav .nav-items .nav-link:hover {
  background: #104f55;
}
.nav .nav-items .nav-link:hover a {
  color: white;
}
.nav .social {
  padding: 1.4rem 0;
}
.nav .social i {
  padding: 0 0.2rem;
}
.nav .social i:hover {
  color: #a1c4cf;
}

@media only screen and (max-width: 750px) {
  .nav {
    background: black;
  }
  .nav .nav-menu,
.nav .nav-items {
    flex-direction: column;
  }
  .nav .toggle-collapse {
    display: initial;
  }
}
@media only screen and (max-width: 520px) {
  .nav .toggle-collapse {
    width: 80%;
  }
}
.hero {
  background: url("/assets/background-image-1.png");
  background-size: cover;
  height: 110vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.hero h1,
.hero h3 {
  margin: 0.3rem;
  color: white;
}
.hero .btn {
  margin: 1.8rem;
  background: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}
.hero .btn:hover {
  background: transparent;
  border: 1px solid white;
}

.blog {
  background: url("/assets/abstract-bg.png");
  background-repeat: no-repeat;
  background-position: right;
  height: 100vh;
  width: 100%;
  background-size: 55%;
}
.blog .blog-post {
  padding-top: 6rem;
}
.blog .blog-post .blog-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 80%;
  margin: 3rem 2rem;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
}
.blog .blog-post .blog-content .blog-title {
  padding: 2rem 0;
}
.blog .blog-post .blog-content .btn-blog {
  padding: 0.7rem 2rem;
  background: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  margin: 0.5rem;
}
.blog .blog-post .blog-content span {
  display: block;
}
.blog .owl-nav {
  position: absolute;
  top: 0;
  margin: 0;
  width: 100%;
}
.blog .owl-nav .owl-prev .owl-nav-prev,
.blog .owl-nav .owl-next .owl-nav-next {
  color: #104f55;
  background: transparent;
  font-size: 2rem;
}
.blog .owl-theme .owl-nav [class*=owl]:hover {
  background: transparent;
  color: #3f4954;
}

.site-content {
  display: grid;
  grid-template-columns: 70% 30%;
}
.site-content .pagination {
  justify-content: center;
  margin: 4rem 0;
}
.site-content .pagination a {
  padding: 0.6rem 0.9rem;
  border-radius: 2rem;
  margin: 0 0.3rem;
  color: #3f4954;
  font-family: "Lexend", cursive;
}
.site-content .pagination .page {
  background: #3f4954;
  color: white;
}
.site-content .post-content {
  width: 100%;
}
.site-content .post-content > .post-image {
  padding: 1rem 2rem;
  position: relative;
}
.site-content .post-content > .post-image a {
  font-family: "Anton", cursive;
  font-size: 1.5rem;
}
.site-content .post-content > .post-image > .post-title {
  padding: 2rem 0;
}
.site-content .post-content > .post-image .post-btn {
  border-radius: 0;
  padding: 0.7rem 1.5rem;
  background: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}
.site-content .post-content > .post-image > div {
  overflow: hidden;
}
.site-content .post-content > .post-image .img {
  width: 100%;
  transition: all 1s ease;
}
.site-content .post-content > .post-image .img:hover {
  transform: scale(1.3);
}
.site-content .post-content > .post-image .post-info {
  position: absolute;
  top: 0;
  left: 20vw;
  background: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  padding: 1rem;
  border-radius: 3rem;
}
.site-content .post-content > .post-image .post-info span {
  margin: 0 0.5rem;
}
.site-content .sidebar .category-list {
  font-family: "Livvic", cursive;
}
.site-content .sidebar .category-list__item {
  background: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  padding: 0.4rem 1rem;
  margin: 0.8rem 0;
  border-radius: 3rem;
  width: 70%;
  display: flex;
  justify-content: space-between;
}
.site-content .sidebar .category-list__item a {
  color: black;
}
.site-content .sidebar .popular-post .post-content {
  padding: 1rem 0;
}
.site-content .sidebar .popular-post h2 {
  padding-top: 8rem;
}
.site-content .sidebar .popular-post .post-info {
  padding: 0.4em 0.1rem;
  left: 2rem;
  border-radius: 0;
  background: white;
}
.site-content .sidebar .popular-post .post-title a {
  font-size: 1rem;
}
.site-content .sidebar .newsletter {
  padding-top: 10rem;
}
.site-content .sidebar .newsletter .form-element {
  padding: 0.5rem 2rem;
}
.site-content .sidebar .newsletter .form-element .input-element {
  width: 80%;
  height: 2rem;
  padding: 0.3rem 0.5rem;
  font-family: "Lexend", cursive;
  font-size: 1rem;
}
.site-content .sidebar .newsletter .form-btn {
  border-radius: 0;
  padding: 0.8rem 32%;
  margin: 1rem 0;
  background: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}
.site-content .sidebar .popular-tags {
  padding: 5rem 0;
}
.site-content .sidebar .popular-tags .tags .tag {
  display: inline-block;
  background: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  color: #3f4954;
  padding: 0.4rem 1rem;
  border-radius: 3rem;
  margin: 0.4rem 0.6rem;
}
.site-content .sidebar .popular-tags .tags .tag:hover {
  color: white;
  background: linear-gradient(120deg, #70a6fc 0%, #85d2f5 100%);
}

@media only screen and (max-width: 1130px) {
  .site-content .post-content > .post-image .post-info {
    left: 2rem;
    top: 1rem;
    border-radius: 0;
  }
  .site-content .sidebar .popular-post .post-info {
    display: none;
  }
}
@media only screen and (max-width: 750px) {
  .site-content {
    grid-template-columns: 100%;
  }
}
@media only screen and (max-width: 520px) {
  .post-content > .post-image .post-info {
    display: none;
  }
}
.footer {
  height: 100%;
  background: #0f0f0f;
  position: relative;
}
.footer .container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.footer > div {
  flex-grow: 1;
  flex-basis: 0;
  padding: 3rem 0.9rem;
}
.footer h2 {
  color: white;
}
.footer .newsletter {
  display: inline-block;
}
.footer .newsletter .form-element {
  position: relative;
}
.footer .newsletter .form-element input {
  padding: 0.5rem 0.7rem;
  border: none;
  background: transparent;
  background: black;
  font-family: "Josefin", cursive;
  font-size: 1rem;
  width: 70%;
}
.footer .newsletter .form-element span {
  position: absolute;
  bottom: 0;
  top: 0;
  background: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  padding: 0.4rem 0.8rem;
  border: 0;
  cursor: pointer;
}
.footer .newsletter .form-element span:hover {
  color: white;
  background: linear-gradient(120deg, #70a6fc 0%, #85d2f5 100%);
}
.footer .instagram-feed div img {
  display: inline-block;
  width: 20%;
  height: 50%;
  margin: 0.4rem 0.4rem;
}
.footer .follow {
  color: white;
}
.footer .follow .social a {
  display: inline-block;
  padding: 1rem 1rem 1rem 0;
  font-size: 1.5rem;
  color: white;
}
.footer .follow .social a:hover {
  color: #686666da;
}
.footer .rights {
  justify-content: center;
}
.footer .rights a {
  color: white;
}
.footer .rights a:hover {
  text-decoration: underline;
}
.footer .move-up {
  position: absolute;
  right: 5%;
  top: 50%;
}
.footer .move-up span {
  color: #104f55;
  cursor: pointer;
}
.footer .move-up span:hover {
  color: white;
}

@media only screen and (max-width: 1130px) {
  .footer .container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 750px) {
  .footer .container {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media only screen and (max-width: 520px) {
  .footer .container > div {
    padding: 1rem;
  }

  .rights {
    padding: 0 1.5rem;
  }
}
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: "Abel", cursive;
}
html a,
body a {
  text-decoration: none;
}
html ul,
body ul {
  list-style: none;
}
html h1,
body h1 {
  font-family: "Lexend", cursive;
  font-size: 2.5rem;
}
html h2,
body h2 {
  font-family: "Lexend", cursive;
}
html h3,
body h3 {
  font-family: "Abel", cursive;
  font-size: 1.3rem;
}
html .btn,
body .btn {
  border: 1px solid transparent;
  border-radius: 2rem;
  padding: 1rem 3rem;
  font-size: 1rem;
  font-family: "Livvic", cursive;
  cursor: pointer;
}
html .btn:hover,
body .btn:hover {
  color: white;
}
html span,
body span {
  font-family: "Abel", cursive;
}
html .container,
body .container {
  margin: 0 5vw;
}
html .text-gray,
body .text-gray {
  color: #3f4954;
}
html p,
body p {
  font-family: "Lexend", cursive;
  color: #686666da;
}