// SITE CONTENT template

.site-content {
  display: grid;
  grid-template-columns: 70% 30%;

  .pagination {
    justify-content: center;
    margin: 4rem 0;
    a {
      padding: 0.6rem 0.9rem;
      border-radius: 2rem;
      margin: 0 0.3rem;
      color: $text-gray;
      font-family: $lexend;
    }

    .page {
      background: $text-gray;
      color: white;
    }
  }

  .post-content {
    width: 100%;

    & > .post-image {
      padding: 1rem 2rem;
      position: relative;

      a {
        font-family: $anton;
        font-size: 1.5rem;
      }

      & > .post-title {
        padding: 2rem 0;
      }

      .post-btn {
        border-radius: 0;
        padding: 0.7rem 1.5rem;
        background: $sky-gradient;
      }
    }

    & > .post-image {
      & > div {
        overflow: hidden;
      }

      .img {
        width: 100%;
        transition: all 1s ease;

        &:hover {
          transform: scale(1.3);
        }
      }

      .post-info {
        position: absolute;
        top: 0;
        left: 20vw;
        background: $sky-gradient;
        padding: 1rem;
        border-radius: 3rem;

        span {
          margin: 0 0.5rem;
        }
      }
    }
  }

  // aside
  .sidebar {
    .category-list {
      font-family: $livvic;

      &__item {
        background: $sky-gradient;
        padding: 0.4rem 1rem;
        margin: 0.8rem 0;
        border-radius: 3rem;
        width: 70%;
        display: flex;
        justify-content: space-between;

        a {
          color: black;
        }
      }
    }

    .popular-post {
      .post-content {
        padding: 1rem 0;
      }

      h2 {
        padding-top: 8rem;
      }
      .post-info {
        padding: 0.4em 0.1rem;
        left: 2rem;
        border-radius: 0;
        background: white;
      }

      .post-title {
        a {
          font-size: 1rem;
        }
      }
    }

    .newsletter {
      padding-top: 10rem;

      .form-element {
        padding: 0.5rem 2rem;

        .input-element {
          width: 80%;
          height: 2rem;
          padding: 0.3rem 0.5rem;
          font-family: $lexend;
          font-size: 1rem;
        }
      }

      .form-btn {
        border-radius: 0;
        padding: 0.8rem 32%;
        margin: 1rem 0;
        background: $sky-gradient;
      }
    }

    .popular-tags {
      padding: 5rem 0;

      .tags {
        .tag {
          display: inline-block;
          background: $sky-gradient;
          color: $text-gray;
          padding: 0.4rem 1rem;
          border-radius: 3rem;
          margin: 0.4rem 0.6rem;

          &:hover {
            color: white;
            background: $sky-gradient-hov;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1130px) {
  .site-content {
    .post-content {
      & > .post-image {
        .post-info {
          left: 2rem;
          top: 1rem;
          border-radius: 0;
        }
      }
    }

    .sidebar {
      .popular-post {
        .post-info {
          display: none;
        }
      }
    }
  }
}

@media only screen and (max-width: 750px) {
  .site-content {
    grid-template-columns: 100%;
  }
}

@media only screen and (max-width: 520px) {
  .post-content {
    & > .post-image {
      .post-info {
        display: none;
      }
    }
  }
}
