// Variables

$abel: "Abel", cursive;
$anton: "Anton", cursive;
$josefin: "Josefin", cursive;
$lexend: "Lexend", cursive;
$livvic: "Livvic", cursive;

$text-gray: #3f4954;
$text-light: #686666da;
$bg: #0f0f0f;
$midnight: #104f55;

$sky-gradient: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
$sky-gradient-hov: linear-gradient(120deg, #70a6fc 0%, #85d2f5 100%);
